---
import { Icon } from "astro-icon/components";
import Button from "@atoms/Button.astro";

import Welcome from "./Welcome.astro";
import HeroImages from "./HeroImages.astro";
import IconsAnimation from "./IconsAnimation.astro";
---

<section class="hero-container">
  <div
    class="w-full lg:w-6/12 flex flex-col-reverse md:flex-col justify-between"
  >
    <Welcome />
    <HeroImages />
  </div>
  <div class="w-full flex flex-col items-center gap-4 md:items-start lg:w-6/12">
    <slot name="main-title" />
    <div class="w-10/12">
      <IconsAnimation />
    </div>
    <slot name="intro" />
    <div class="mt-4">
      <Button
        type="text"
        name="Contáctame"
        href="https://wa.me/525575232654?text=Hola.%20Estoy%20interesado%20en%20trabajar%20contigo%20esta%20es%20mi%20idea:"
        target="_blank"
      >
        <Icon name="simple-icons:whatsapp" class="text-white min-w-6" />
        <span class="btn-label">Agendar una reunión</span>
      </Button>
    </div>
  </div>
</section>

<style>
  .hero-container {
    @apply w-full flex flex-col md:flex-row items-center pt-20 md:pt-32 pb-16;
  }
</style>
