---
import { Image } from "astro:assets";
import hectorReyes from "@assets/hector-reyes.webp";
import { RandomMessage } from "./RandomMessage/RandomMessage";

const title = "Hola, soy Héctor Reyes";
---

<div
  class="flex pt-8 md:pl-8 flex-col-reverse items-center sm:flex-row justify-start sm:items-center gap-2"
>
  <Image src={hectorReyes} alt={title} title={title} />
  <RandomMessage client:visible />
</div>

<style>
  img {
    width: 60px;
    height: auto;
  }
</style>
