---
import { Icon } from "astro-icon/components";
import { iconList } from "@constants/iconList";
---

<div class="scroll">
  <div class="flex gap-3">
    {
      iconList.map((icon) => (
        <Icon
          name={icon}
          class="text-gray dark:text-light-gray text-3xl opacity-50 hover:text-red-light"
        />
      ))
    }
  </div>
  <div class="flex gap-3">
    {
      iconList.map((icon) => (
        <Icon
          name={icon}
          class="text-gray dark:text-light-gray text-3xl opacity-50 hover:text-red-light"
        />
      ))
    }
  </div>
</div>

<style>
  .scroll {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #fff 20%,
      #fff 80%,
      transparent
    );
  }

  .scroll div {
    padding-inline-end: 1rem;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
    animation-delay: calc(30s * -1);
  }

  .scroll div:nth-child(2) {
    animation: scroll2 30s linear infinite;
    animation-delay: calc(30s / -2);
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }
</style>
