---
import Layout from "@common/Layout.astro";
import Phrase from "@common/Phrase.astro";

import Contact from "../../modules/common/Contact/Contact.astro";
---

<Layout title="Héctor Reyes - Creemos algo juntos 🚀">
  <main class="m-auto px-2 pt-32 md:px-6 2xl:w-3/5 xl:w-4/5 w-full">
    <Phrase />
    <Contact />
  </main>
</Layout>
