---
// prettier-ignore
export type Category =  "full-stack" | "front-end" | "back-end" | "design" | "chip";

interface Props {
  category: Category;
  label?: string;
}

const { category, label } = Astro.props;

const categoriesList = {
  "full-stack": "Full-Stack",
  "front-end": "Front-End",
  "back-end": "Back-End",
  design: "Diseño",
  chip: "chiplabel",
};

const text = categoriesList[category];
---

<a href={`/projects/category/${category}`} class={`chip ${category}`}>
  {label ? label : text}
</a>

<style>
  .chip {
    @apply py-1 px-3 rounded-full text-xs backdrop-blur-sm bg-white bg-opacity-85 text-dark-gray shadow-md;
  }

  .full-stack {
    border: 1px solid theme("colors.red-light");
  }

  .front-end {
    border: 1px solid theme("colors.blue");
  }

  .back-end {
    border: 1px solid theme("colors.purple-light");
  }

  .design {
    border: 1px solid theme("colors.orange-light");
  }
</style>
