---
import { getCategory } from "@utils/getCategory";
import type { Category } from "@utils/getCategory";

interface Props {
  category: Category;
  label?: string;
}

const { category, label } = Astro.props;

const text = await getCategory(category);
---

<a href={`/projects/category/${category}`} class="chip">
  {label ? label : text}
</a>

<style>
  .chip {
    @apply py-1 px-3 rounded-md text-xs backdrop-blur-md bg-white bg-opacity-40 text-black shadow-sm border border-light-gray hover:bg-main hover:bg-opacity-10 no-underline;
  }
</style>
