:root {
  --main-gradient: linear-gradient(
    45deg,
    theme("colors.red"),
    theme("colors.orange-light")
  );
  --red-gradient: linear-gradient(
    theme("colors.red"),
    theme("colors.red-light")
  );
  --purple-gradient: linear-gradient(
    theme("colors.purple"),
    theme("colors.purple-light")
  );
  --orange-gradient: linear-gradient(
    theme("colors.orange"),
    theme("colors.orange-light")
  );

  /* Variables para el modo claro (default) */
  --color-background: theme("colors.white");
  --color-surface: theme("colors.light");
  --color-text: theme("colors.black");
  --color-text-secondary: theme("colors.dark-gray");
  --color-border: theme("colors.light-gray");
  --color-accent: theme("colors.main");
}

.dark {
  /* Variables para el modo oscuro */
  --color-background: theme("colors.dark.background");
  --color-surface: theme("colors.dark.surface");
  --color-text: theme("colors.dark.text");
  --color-text-secondary: theme("colors.dark.text-secondary");
  --color-border: theme("colors.dark.border");
  --color-accent: theme("colors.dark.accent");

  /* Gradientes para modo oscuro */
  --main-gradient: linear-gradient(
    45deg,
    theme("colors.dark.main"),
    theme("colors.dark.accent")
  );
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: theme("fontFamily.sans");
  background-color: var(--color-background);
  color: var(--color-text);
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-text);
  transition: color 0.3s ease;
}

a {
  text-decoration: none;
}
