:root {
  --main-gradient: linear-gradient(
    45deg,
    theme("colors.red"),
    theme("colors.orange-light")
  );
  --red-gradient: linear-gradient(
    theme("colors.red"),
    theme("colors.red-light")
  );
  --purple-gradient: linear-gradient(
    theme("colors.purple"),
    theme("colors.purple-light")
  );
  --orange-gradient: linear-gradient(
    theme("colors.orange"),
    theme("colors.orange-light")
  );
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eudoxus Sans";
  src: url("/fonts/EudoxusSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: theme("fontFamily.sans");
  background-color: theme("colors.white");
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: theme("colors.black");
}

a {
  text-decoration: none;
}
