:root {
  --sans: "Raleway", sans-serif;
  --serif: "Bodoni Moda", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: theme("colors.wedding.white");
  font-family: var(--sans);
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: theme("colors.wedding.black");
}

.title {
  font-family: var(--serif);
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.grow {
  animation: grow linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.appear {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes grow {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
