---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";

const TITLE = "Contacto";
const DESCRIPTION =
  "Contactanos si tienes cualquier duda, estaremos encantados de ayudar a que tu experiencia sea la mejor.";
const BUTTONS = [
  { label: "Contacta a Carol", url: "https://wa.me/5215574972300" },
  { label: "Contacta a Héctor", url: "https://wa.me/5215575232654" },
];
---

<section class="w-full pb-20 md:pb-40 flex flex-col md:items-center gap-4">
  <h2 class="title text-4xl md:text-6xl text-wedding-main appear">{TITLE}</h2>
  <p class="w-full md:w-2/3 md:text-center text-balance">
    {DESCRIPTION}
  </p>

  <div
    class="w-full flex flex-col md:flex-row items-center justify-center gap-8"
  >
    {
      BUTTONS.map(({ label, url }) => (
        <Button label={label} url={url} icon="simple-icons:whatsapp" />
      ))
    }
  </div>
</section>
