---
import { Image } from "astro:assets";

import NamesDesktop from "@assets/wedding/names-desktop.png";
import NamesMobile from "@assets/wedding/names-mobile.png";
import footerImage from "@assets/wedding/footer-image.png";
---

<footer class="relative pb-32 flex flex-col items-center">
  <h4 class="title greeting">
    Gracias por ser parte de nuestra historia.
    <span class="block text-4xl text-wedding-secondary">
      ¡Nos vemos en la celebración!
    </span>
  </h4>

  <Image
    src={NamesDesktop}
    alt="Carol y Héctor"
    class="w-4/12 hidden md:block"
  />
  <Image
    src={NamesMobile}
    alt="Carol y Héctor"
    class="w-8/12 block md:hidden"
  />

  <Image src={footerImage} alt="Imagen" class="w-full absolute bottom-0" />
</footer>

<style>
  .greeting {
    @apply pb-20 text-center text-balance text-3xl text-wedding-secondary;
  }
</style>
