---
import { Image } from "astro:assets";
import storyImg1 from "@assets/wedding/story-img-1.png";
import storyImg2 from "@assets/wedding/story-img-2.png";

const TITLE = "Nuestra Historia de Amor";
---

<section
  class="w-full flex flex-col md:flex-row items-center justify-center gap-8"
>
  <div class="w-full md:w-2/6 px-0">
    <Image src={storyImg1} alt="" class="w-full grow mb-4" />
    <Image src={storyImg2} alt="" class="w-full grow" />
  </div>
  <div class="w-full md:w-4/6 px-0 md:pl-4">
    <h2 class="title mb-8 text-4xl md:text-6xl text-wedding-main appear">
      {TITLE}
    </h2>
    <p class="text-pretty mb-4">
      Érase una vez, en una pandemia no muy lejana, cuando el mundo parecía
      haberse detenido, dos almas destinadas a encontrarse se conocieron... en
      Zoom. Sí, Carol y Héctor, como muchos otros, se encontraron frente a la
      pantalla, no en una cafetería ni en un parque, sino en una reunión virtual
      para discutir un proyecto que, honestamente, ninguno recuerda de qué
      trataba. Lo que sí recuerdan es cómo, entre ideas y risas, una chispa de
      conexión comenzó a brillar.
    </p>
    <p class="text-pretty mb-4">
      Durante un año completo, Carol y Héctor chatearon, compartiendo historias,
      sueños y chistes malos. Decidieron que era hora de dar el siguiente paso y
      conocerse en persona. Eligieron una cita para comer ramen, algo que
      ninguno había probado antes, con la esperanza de que su primera
      experiencia juntos fuera tan nueva y emocionante como su relación. Entre
      sorbos de caldo y fideos desordenados, Héctor decidió ser valiente y
      confesó a Carol lo mucho que le interesaba conocerla en profundidad.
      Carol, sorprendida y emocionada, decidió que quería lo mismo, aunque
      propuso esperar un poco... bueno, una semana exactamente.
    </p>
    <p class="text-pretty mb-4">
      Así, el 13 de febrero de 2022, justo un día antes de San Valentín, Héctor
      y Carol se embarcaron oficialmente en su aventura amorosa. Desde ese
      momento, se intercambiaron chocolates, notas llenas de cariño y canciones
      dedicadas. Pero, sobre todo, compartieron apoyo incondicional, empatía y
      un amor que solo creció con cada nueva experiencia. Juntos, alcanzaron
      grandes metas: finalizaron sus estudios, encontraron un lugar donde vivir
      y crearon un hogar lleno de amor.
    </p>
    <p class="text-pretty mb-4">
      Sus vidas se llenaron de viajes y aventuras, forjando un vínculo tan
      fuerte que ninguna dificultad pudo romper. Desde escapadas espontáneas
      hasta largas caminatas, cada momento fue una nueva página en su historia
      de amor. Y fue durante uno de esos viajes, en un lugar especial que ahora
      guardan en sus corazones, donde Carol y Héctor decidieron dar el siguiente
      gran paso: comprometerse.
    </p>
    <p class="text-pretty mb-4 font-bold">
      Y aquí es donde tú entras en nuestra historia. Queremos que seas parte de
      este nuevo capítulo que estamos por escribir. ¿Nos acompañas a celebrar
      nuestro amor y a seguir creando recuerdos juntos? Te esperamos.
    </p>
    <p class="text-pretty">Con amor,</p>
    <p class="text-pretty font-bold">Carol y Héctor</p>
  </div>
</section>
