---
const TITLE = "Con la bendición de Dios y de nuestros padres";
const PARENTS = [
  {
    mother: "Yolanda Aguilar Cruz",
    father: "Oscar Ricardo Martínez García",
    subtitle: "Padres de la novia",
  },
  {
    mother: "María de los Ángeles Bautista García",
    father: "Cirilo Reyes Cruz",
    subtitle: "Padres del novio",
  },
];
---

<section
  class="w-full flex flex-col md:flex-row items-center gap-8 md:justify-between"
>
  <h3 class="title w-full md:w-1/3 text-3xl text-wedding-main appear">
    {TITLE}
  </h3>

  {
    PARENTS.map(({ mother, father, subtitle }) => (
      <div class="w-full md:w-1/3 flex flex-col md:items-center gap-1">
        <p>{mother}</p>
        <p>{father}</p>
        <span class="parents">{subtitle}</span>
      </div>
    ))
  }
</section>

<style>
  .parents {
    @apply text-wedding-main uppercase tracking-widest text-sm font-bold;
  }
</style>
