---
import placeholder from "@assets/wedding/placeholder-image.png";
import { Image } from "astro:assets";
import InfoItem from "./InfoItem.astro";

const ITEMS = [
  {
    title: "19 de octubre - 16:30 horas",
    subtitle: "Fecha y hora",
    description:
      "El día en que nuestras almas se entrelazan para siempre. Acompáñanos a celebrar este capítulo.",
    label: "Agendar en Calendar",
    href: "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=ODgxMDU2ZTdmNDc1NGY4YThhYzAyNjg2YmFjMGZjMGIgaHJkb2ZpY2lhbEBt&tmsrc=hrdoficial%40gmail.com",
  },
  {
    title: "Bloom Garden",
    subtitle: "Lugar",
    description:
      "Boulevar Bosque de Las Naciones 88, Bosques de Aragon, 57170 Cdad. Nezahualcóyotl, Méx.",
    label: "Ver en Maps",
    href: "https://maps.app.goo.gl/MYMoh8xoHNgknHUk8",
  },
];
---

<section
  class="w-full flex flex-col md:flex-row items-center md:justify-around gap-8"
>
  <div class="w-full md:w-1/2">
    <Image src={placeholder} alt="Imagen" class="appear" />
  </div>
  <div class="w-full md:w-1/2 flex flex-col gap-4">
    {ITEMS.map((item) => <InfoItem {...item} />)}
  </div>
</section>
