---
import Layout from "@layouts/MainLayout.astro";
import Phrase from "@organisms/Phrase.astro";

import Hero from "@features/hero/Hero.astro";
import ProjectGrid from "@organisms/ProjectGrid.astro";
import Services from "@organisms/Services.astro";
import Resources from "@organisms/Resources.astro";
import Contact from "@organisms/Contact.astro";
import SectionTitle from "@atoms/SectionTitle.astro";

import { SEO_MAIN } from "@constants/seo";

const { title, description } = SEO_MAIN;
---

<Layout
  title={title}
  description={description}
  headerTitle="Creemos algo juntos"
>
  <main class="w-full m-auto px-2 xl:w-[1024px]">
    <Hero>
      <h1
        slot="main-title"
        class="text-red-light text-2xl text-center md:text-4xl md:text-left"
      >
        ¡Hola! Soy <strong>Héctor Reyes</strong>.
        <span class="block mt-2 text-base text-balance md:text-xl">
          Trabajo como
          <strong>Desarrollador Web Full-Stack</strong> con una extensa trayectoria
          en el diseño de interfaces (UI) y <strong
            >desarrollo de productos web.</strong
          ></span
        >
      </h1>
      <p slot="intro" class="mt-4 text-base text-balance">
        Estoy enfocado en la creación de proyectos que destaquen por su
        funcionalidad, identidad, creatividad, calidad y factor sorpresa. Me
        apasiona la optimización del rendimiento web y estoy comprometido con el
        flujo completo de desarrollo. <strong
          >¡Hagámos tu proyecto realidad juntos!</strong
        >
      </p>
    </Hero>
    <section id="proyectos" class="w-full my-20">
      <SectionTitle subtitle="Proyectos" headline="Lo mejor de mi trabajo" />
      <ProjectGrid />
    </section>
    <Services />
    <Phrase />
    <Resources />
    <Contact />
  </main>
</Layout>
