---
import Layout from "@common/Layout.astro";
import Phrase from "@common/Phrase.astro";

import Hero from "@home/Hero/Hero.astro";
import Projects from "@home/Projects/Projects.astro";
import Services from "@home/Services/Services.astro";
import Resources from "@home/Resources/Resources.astro";
import Contact from "@common/Contact/Contact.astro";

import { SEO_MAIN } from "@constants/seo";

const { title, description } = SEO_MAIN;
---

<Layout title={title} description={description}>
  <main class="m-auto px-2 md:px-4 2xl:w-4/6 xl:w-5/6 w-full">
    <Hero />
    <Projects />
    <Services />
    <Phrase />
    <Resources />
    <Contact />
  </main>
</Layout>
