---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
import Services from "../sections/Services.astro";
import Phrase from "../components/Phrase.astro";
import Resources from "../sections/Resources.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Héctor Reyes - Creemos algo juntos 🚀">
  <main>
    <Hero />
    <Projects />
    <Services />
    <Phrase />
    <Resources />
    <Contact />
    <Footer />
  </main>
</Layout>
