---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Projects from "../sections/Projects.astro";
import ServicesSection from "../sections/ServicesSection.astro";
import Phrase from "../components/Phrase.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import ImageInfo from "../components/ImageInfo.astro";
import FAQs from "../components/FAQs.astro";
import InfoCard from "../components/InfoCard.astro";
import LandingPromoHero from "../sections/LandingPromoHero.astro";

const services = await Astro.glob("../content/services/performance-promo/*.md");
---

<Layout title="Héctor Reyes - Tu Sitio Web de Alto Rendimiento">
  <Header />
  <main class="m-auto px-2 md:px-6 2xl:w-3/5 xl:w-4/5 w-full pt-20">
    <LandingPromoHero />
    <ImageInfo
      img="/assets/image.png"
      alt="Promoción de performance"
      title="Excelencia en performance:"
      description="Nuestro objetivo es superar tus expectativas al proporcionarte un sitio web de calidad que no solo se destaque visualmente, sino que también funcione de manera eficiente y cumpla con los estándares más altos de rendimiento en línea. Tu satisfacción y éxito son nuestra prioridad."
    >
      <div class="pt-4 flex flex-col text-center">
        <p class="text-md">Score mínimo en Google Lighthouse de</p>
        <span class="text-3xl font-bold text-purple">90% Performance</span>
        <span class="font-bold">¡ó el sitio será gratis!</span>
      </div>
    </ImageInfo>
    <ServicesSection
      services={services}
      color="purple"
      headline="Nuestro proceso de "
      colorHeadline="creación de sitios web"
    />
    <div class="w-full mt-8 mb-2 px-4 flex flex-col items-center gap-2">
      <h4 class="font-bold text-center">
        ¡No te pierdas la oportunidad de tener un sitio web de alto rendimiento!
      </h4>
      <p class="w-full md:w-2/3 text-center">
        Nuestro equipo de expertos está listo para crear un sitio web
        excepcional para tu negocio. Contáctanos ahora para reservar tu lugar y
        experimentar la excelencia en performance.
      </p>
    </div>
    <Phrase color="purple" />
    <InfoCard
      title="La Importancia del Alto Performance"
      description="Los datos analíticos respaldan la importancia de un sitio web con alto rendimiento. Estudios demuestran que los usuarios tienen expectativas cada vez más altas en términos de velocidad y rendimiento de un sitio web. Un sitio lento puede llevar a una alta tasa de rebote, disminución de conversiones y una mala experiencia de usuario. Con nuestro enfoque en el alto performance, aseguramos que tu sitio web se destaque entre la competencia y ofrezca resultados excepcionales."
      img="/assets/image.png"
      alt="Alto Performance"
    />
    <FAQs title="Preguntas frecuentes" />
    <Projects color="purple" />
    <Contact color="purple" />
    <Footer />
  </main>
</Layout>
