---
import { Icon } from "astro-icon/components";
import { accountData } from "@wedding/constants/account-data";
import { AccountDataButton } from "./AccountDataButton";

const TITLE = "Un Regalo para Nuestro Futuro";
const DESCRIPTION =
  "Si te gustaría apoyar nuestra nueva aventura, puedes hacerlo con un regalo en efectivo por transferencia bancaria.";
const SUBTITLE = "¡Gracias por ser parte de nuestro viaje!";
---

<section
  class="w-full mt-20 mb-8 flex flex-col items-center gap-8 md:justify-between"
>
  <div class="w-full md:w-1/2 flex flex-col gap-4">
    <h2 class="title text-4xl md:text-6xl text-wedding-main appear text-center">
      {TITLE}
    </h2>
    <p class="text-center">{DESCRIPTION}</p>
    <p class="text-center font-bold">{SUBTITLE}</p>
  </div>

  <div
    class="w-full md:w-1/2 p-8 rounded-xl border border-wedding-secondary bg-wedding-white bg-opacity-50"
  >
    {
      accountData.map((data) => (
        <AccountDataButton {...data} client:load>
          <Icon name="mdi:content-copy" size={24} class="text-wedding-black" />
        </AccountDataButton>
      ))
    }
  </div>
</section>
