---
import Layout from "@layouts/MainLayout.astro";
import Phrase from "@organisms/Phrase.astro";

import Hero from "@features/hero/Hero.astro";
import ProjectGrid from "@organisms/ProjectGrid.astro";
import Services from "@organisms/Services.astro";
import Resources from "@organisms/Resources.astro";
import Contact from "@organisms/Contact.astro";

import { SEO_DESIGN } from "@constants/seo";

const { title, description } = SEO_DESIGN;
---

<Layout
  title={title}
  description={description}
  headerTitle="Diseñemos algo juntos"
>
  <main class="w-full m-auto px-2 xl:w-[1024px]">
    <Hero>
      <h1
        slot="main-title"
        class="text-red-light text-2xl text-center md:text-4xl md:text-left"
      >
        ¡Hola! Soy <strong>Héctor Reyes</strong>.
        <span class="block mt-2 text-base text-balance md:text-xl">
          <strong>Especialista en Diseño de Interfaces (UI)</strong> con una extensa
          trayectoria en la creación de productos web visualmente impactantes y funcionales.</span
        >
      </h1>
      <p slot="intro" class="mt-4 text-base text-balance">
        Estoy enfocado en la creación de proyectos que destaquen por su
        identidad visual, creatividad, calidad y factor sorpresa. Me apasiona la
        optimización del diseño y la experiencia del usuario, y estoy
        comprometido con la excelencia en cada detalle estético. <strong
          >¡Hagamos tu proyecto realidad juntos!</strong
        >
      </p>
    </Hero>
    <ProjectGrid />
    <Services />
    <Phrase />
    <Resources />
    <Contact />
  </main>
</Layout>
