---
import { getImage, Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Button from "@common/Button.astro";
import bgImage from "../assets/hero-image.png";
import icon from "../assets/services/icon-book-time.svg";

const bgOptimized = await getImage({ src: bgImage, format: "webp" });

const icons = [
  "simple-icons:figma",
  "simple-icons:webflow",
  "simple-icons:astro",
  "mdi:tailwind",
  "simple-icons:vite",
  "simple-icons:strapi",
];
---

<section
  class="hero-container"
  style={`background-image: url(${bgOptimized.src});`}
>
  <h1 class="font-bold text-xl md:text-4xl text-purple text-center">
    Tu Sitio Web de Alto Rendimiento:
    <span class="block font-normal text-purple"
      >Garantía de Excelencia en Performance</span
    >
  </h1>
  <p class="text-center">
    Utilizando la última tecnología y un enfoque en el diseño único, creamos
    sitios web que destacan visualmente y brindan una experiencia de usuario
    excepcional.
  </p>
  <div class="my-1 flex gap-4">
    {icons.map((icon) => <Icon name={icon} class="text-gray w-8" />)}
  </div>
  <div class="w-full md:w-2/3 m-4 flex flex-col items-center">
    <Image src={icon} alt="Icono de libro con reloj." />
    <h4 class="pt-4 text-2xl text-purple font-bold">Quedan 2 de 3 lugares</h4>
    <p class="text-black text-center">
      Límitamos la cantidad de proyectos a la vez para garantizar el mejor
      producto. <b>No pierdas la oportunidad.</b>
    </p>
  </div>
  <div class="flex flex-col gap-4 md:gap-8 mt-4 md:flex-row items-center">
    <Button
      type="text"
      name="Contáctame"
      href="https://t.me/hectordevx"
      target="_blank"
      style="purple"
    >
      ¡Contáctame!
    </Button>
    <Button
      type="text"
      name="Ver Proceso"
      style="purple-border"
      href="#proceso"
    >
      Ver Proceso
    </Button>
  </div>
</section>

<style>
  .hero-container {
    @apply w-full md:w-2/3 pt-56 pb-8 px-4 md:m-auto flex flex-col items-center gap-2 md:gap-4;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
