---
import { Image } from "astro:assets";
import Button from "@common/Button.astro";
import performanceImage02 from "../assets/services/performance-02.png";
---

<section
  class="w-full my-2 md:my-8 p-4 flex flex-col md:flex-row items-center gap-2 md:gap-12"
>
  <Image
    class="w-2/3 md:w-1/3 p-0 md:p-8"
    src={performanceImage02}
    alt="Imagen promocional de performance."
  />
  <div class="w-full md:w-2/3 flex flex-col items-center md:items-start gap-4">
    <h2
      class="text-purple font-bold text-xl md:text-3xl text-center md:text-left"
    >
      Tu Sitio Web de Alto Rendimiento:
      <span class="block font-normal"
        >Garantía de Excelencia en Performance</span
      >
    </h2>
    <p class="w-full md:w-2/3">
      Utilizando la última tecnología y un enfoque en el diseño único, creamos
      sitios web que destacan visualmente y brindan una experiencia de usuario
      excepcional.
    </p>
    <Button
      type="text"
      name="Ver promoción"
      style="purple"
      href="/performance-web-promo">¡Lo quiero!</Button
    >
  </div>
</section>
