---
import LogoIcon from "@common/LogoIcon.astro";
import Nav from "./Nav.astro";
import SocialMediaIcons from "./SocialMediaIcons.astro";
import { getLastWord } from "@utils/getLastWord";

const { title } = Astro.props;
const { text, lastWord } = await getLastWord(title);
---

<header>
  <div class="header-container">
    <a href="/" class="header-title flex gap-2 items-center justify-start">
      <LogoIcon color="main" width={40} />
      <h2>
        {text}
        <span class="text-red">{lastWord}</span>
      </h2>
    </a>

    <Nav />
    <SocialMediaIcons />
  </div>
</header>

<style>
  header {
    @apply w-full mb-10 fixed z-50;
  }

  .header-container {
    @apply mx-auto w-full pt-6 pb-4 px-8 lg:w-[1024px] flex flex-col md:flex-row justify-between items-center rounded-b-md backdrop-blur-lg bg-white bg-opacity-30;
  }

  .header-title {
    @apply font-bold lg:text-xl mb-4 lg:mb-0;
  }
</style>
