---
export interface Props {
  type: "text" | "icon";
  href?: string;
  target?: string;
  style?: "main" | "purple" | "main-border" | "purple-border";
}

const { type, href, target = "_self", style = "main" } = Astro.props;
---

<a href={href} target={target}>
  <button class={`btn ${style} ${type}`}>
    <slot />
  </button>
</a>

<style>
  .btn {
    @apply p-3 rounded-[24px] text-xl font-semibold transition-all duration-200;
  }

  .main {
    color: theme("colors.white");
    background: var(--main-gradient);
    box-shadow: 0px 4px 20px rgba(255, 8, 68, 0.5);
  }

  .main-border {
    color: theme("colors.black");
    background: theme("colors.white");
    border: 1px solid theme("colors.red");
    box-shadow: 0px 4px 20px rgba(255, 8, 68, 0.5);
  }

  .main:hover,
  .main-border:hover {
    box-shadow: 0px 2px 5px rgba(255, 8, 68, 0.5);
  }

  .purple {
    color: theme("colors.white");
    background: var(--purple-gradient);
    box-shadow: 0px 4px 20px rgba(107, 66, 223, 0.5);
  }

  .purple-border {
    color: theme("colors.black");
    background: theme("colors.white");
    border: 1px solid theme("colors.purple");
    box-shadow: 0px 4px 20px rgba(107, 66, 223, 0.5);
  }

  .purple:hover,
  .purple-border:hover {
    box-shadow: 0px 2px 5px rgba(107, 66, 223, 0.5);
  }

  .text {
    padding-inline: 2.5rem;
  }
</style>
