---
export interface Props {
  type: "primary" | "secondary" | "icon";
  href?: string;
  target?: string;
}

const { type, href, target = "_self" } = Astro.props;
---

<a href={href} target={target}>
  <button class={`btn ${type}`}>
    <slot />
  </button>
</a>

<style>
  .btn {
    @apply p-3 rounded-[24px] text-xl font-semibold transition-all duration-200;
  }

  .primary {
    padding-inline: 2.5rem;
    color: theme("colors.white");
    background: var(--main-gradient);
    box-shadow: 0px 4px 20px rgba(255, 8, 68, 0.5);
  }

  .primary:hover {
    color: theme("colors.black");
    box-shadow: 0px 2px 10px rgba(255, 8, 68, 0.5);
  }

  .secondary {
    padding-inline: 2.5rem;
    color: theme("colors.black");
    background-color: theme("colors.white");
    border: 1px solid theme("colors.red");
  }

  .secondary:hover {
    color: theme("colors.white");
    background-color: theme("colors.red-light");
    border: 1px solid theme("colors.red-light");
  }

  .icon {
    background: var(--main-gradient);
    box-shadow: 0px 4px 20px rgba(255, 8, 68, 0.5);
  }

  .icon:hover {
    box-shadow: 0px 2px 10px rgba(255, 8, 68, 0.5);
  }
</style>
