---
export interface Props {
  status: "new" | "building" | "featured" | "resourceDone" | "resource";
  label?: string;
}

const { status, label } = Astro.props;

const statusList = {
  new: "Nuevo",
  building: "En construcción",
  featured: "Destacado",
  resourceDone: label,
  resource: "En construcción",
};

const text = statusList[status];
---

<span class={`py-1 px-3 rounded-full text-sm ${status}`}>
  {label ? label : text}
</span>

<style>
  .new {
    color: theme("colors.white");
    background: var(--red-gradient);
  }

  .building {
    color: theme("colors.white");
    background: var(--purple-gradient);
  }

  .featured {
    color: theme("colors.black");
    background: var(--orange-gradient);
  }

  .resourceDone {
    color: theme("colors.light-gray");
    background: theme("colors.dark-gray");
  }

  .resource {
    color: theme("colors.dark-gray");
    background: theme("colors.white");
  }
</style>
