---
const { headline, colorHeadline, subtitle } = Astro.props;
---

<div class="w-full flex flex-col items-start sm:items-center mb-4">
  <span class="text-sm uppercase text-gray tracking-widest">{subtitle}</span>
  <h2
    class="mb-2 text-3xl md:text-4xl text-black font-bold text-left sm:text-center"
  >
    {headline}<span class="text-red-light"> {colorHeadline}</span>
  </h2>
  <!-- <a href="/services" class="text-md text-red">Todos mis servicios {">"}</a> -->
</div>
