---
import LogoIcon from "./Icons/LogoIcon.astro";
import { RandomMessage } from "./RandomMessage/RandomMessage";
---

<div
  class="flex flex-col-reverse items-start sm:flex-row justify-start sm:items-center gap-2"
>
  <LogoIcon color="black" width={140} />
  <RandomMessage client:load />
</div>
