---
import LogoIcon from "./Icons/LogoIcon.astro";
---

<div
  class="flex flex-col-reverse sm:flex-row justify-start sm:items-center gap-2"
>
  <LogoIcon color="black" width={140} />
  <span class="w-fit bg-white text-dark-gray py-1 px-4 rounded-full text-sm"
    >✨ ¡Me alegro de verte aquí!</span
  >
</div>
