<div class="flex items-center gap-2">
  <img width="100px" src="/assets/logo.svg" alt="Logo Héctor Reyes Dev" />
  <span class="bg-white text-dark-gray py-1 px-4 rounded-full text-sm"
    >✨ ¡Me alegro de verte aquí!</span
  >
</div>
