---
import Layout from "@layouts/MainLayout.astro";
import Phrase from "@organisms/Phrase.astro";
import Contact from "@organisms/Contact.astro";
import CategoryChips from "@organisms/CategoryChips.astro";
import SectionTitle from "@atoms/SectionTitle.astro";
import ProjectGrid from "@organisms/ProjectGrid.astro";

import { SEO_PROJECTS } from "@constants/seo";

const { title, description } = SEO_PROJECTS;

---

<Layout title={title} description={description} headerTitle="Mis Proyectos">
  <main class="w-full m-auto px-2 xl:w-[1024px] py-24">
    <section id="proyectos" class="w-full mb-8">
      <SectionTitle subtitle="Proyectos" headline="Todos mis proyectos" />
      <CategoryChips />
      <ProjectGrid linkToAll={false} />
    </section>
    <Phrase />
    <Contact />
  </main>
</Layout>
