---
import { getCategory } from "@lib/content/getCategory";
import type { Category } from "@lib/content/getCategory";

interface Props {
  category: Category;
  label?: string;
  baseUrl?: string;
  asLink?: boolean;
}

const { category, label, baseUrl = "/projects/category", asLink = true } = Astro.props;

const text = await getCategory(category);
---

{asLink ? (
  <a href={`${baseUrl}/${category}`} class="chip">
    {label ? label : text}
  </a>
) : (
  <span class="chip chip-static">
    {label ? label : text}
  </span>
)}

<style>
  .chip {
    @apply py-1 px-3 rounded-md text-xs backdrop-blur-sm bg-opacity-20 bg-white dark:bg-black text-black dark:text-light shadow-sm border border-light-gray no-underline;
  }

  .chip-static {
    @apply cursor-default;
  }
</style>
