---
import SectionTitle from "../components/SectionTitle.astro";
import { Icon } from "astro-icon";
import Button from "../components/Button.astro";

export interface Props {
  color?: "red-light" | "main" | "purple" | "main-border" | "purple-border";
}

const socialMedia = [
  {
    icon: "ic:baseline-whatsapp",
    href: "https://wa.me/525575232654?text=Hola.%20Estoy%20interesado%20en%20trabajar%20contigo%20esta%20es%20mi%20idea:",
    name: "WhatsApp",
  },
  {
    icon: "mdi:twitter",
    href: "https://twitter.com/hector_reyes_",
    name: "Twitter",
  },
  {
    icon: "mdi:linkedin",
    href: "https://www.linkedin.com/in/hectorreyesdev/",
    name: "LinkedIn",
  },
];

const { color = "main" } = Astro.props;
---

<section id="contacto" class="w-full p-4 mb-16">
  <SectionTitle
    headline="Encuentrame"
    colorHeadline=" aquí"
    subtitle="contacto"
    color="red-light"
  />
  <div class="w-full flex gap-8 items-center justify-center">
    {
      socialMedia.map(({ icon, href, name }) => (
        <Button
          type="icon"
          name={name}
          style={color}
          href={href}
          target="_blank"
        >
          <Icon name={icon} class="text-white w-8" />
        </Button>
      ))
    }
  </div>
</section>
