---
import SectionTitle from "../components/SectionTitle.astro";
import { Icon } from "astro-icon";
import Button from "../components/Button.astro";

export interface Props {
  color?: "main" | "purple";
}

const socialMedia = [
  { icon: "uil:telegram", href: "https://t.me/hectordevx" },
  { icon: "mdi:instagram", href: "https://www.instagram.com/hector___reyes/" },
  { icon: "mdi:twitter", href: "https://twitter.com/hector_reyes_" },
  { icon: "mdi:linkedin", href: "https://www.linkedin.com/in/hectorreyesdev/" },
];

const { color = "main" } = Astro.props;
---

<section id="contacto" class="w-full p-4 mb-16">
  <SectionTitle
    headline="Encuentrame"
    colorHeadline="aquí"
    subtitle="contacto"
    color="purple"
  />
  <div class="w-full flex gap-8 items-center justify-center">
    {
      socialMedia.map(({ icon, href }) => (
        <Button type="icon" style={color} href={href} target="_blank">
          <Icon name={icon} class="text-white w-8" />
        </Button>
      ))
    }
  </div>
</section>
