---
import SocialMediaIcons from "../components/SocialMediaIcons.astro";
import Nav from "../components/Nav.astro";
---

<script>
  import { gsap } from "gsap";

  gsap.fromTo(".navbar", { opacity: 0 }, { opacity: 1, duration: 2 });
</script>

<header class="w-full mb-10 fixed z-50">
  <div
    class="navbar mx-auto lg:w-full xl:w-8/12 pt-6 pb-4 px-8 flex flex-col lg:flex-row gap-1 lg:gap-8 justify-between items-center rounded-b-md backdrop-blur-lg bg-white bg-opacity-30"
  >
    <h2 class="font-bold text-base lg:text-xl mb-2 lg:mb-0">
      <a href="/">
        Creemos algo <span class="text-red">juntos</span>
      </a>
    </h2>

    <Nav />
    <SocialMediaIcons />
  </div>
</header>
