---
import SocialMediaIcons from "../components/SocialMediaIcons.astro";
import Nav from "../components/Nav.astro";
---

<header class="w-full mb-10 fixed z-50">
  <div
    class="mx-auto md:w-full xl:w-7/12 pt-6 pb-4 px-8 flex flex-col lg:flex-row justify-between items-center rounded-b-md backdrop-blur-lg bg-white bg-opacity-40"
  >
    <h2 class="font-bold text-base md:text-xl mb-2 md:mb-0">
      <a href="/">
        Creemos algo <span class="text-red">juntos</span>
      </a>
    </h2>

    <Nav />
    <SocialMediaIcons />
  </div>
</header>
