---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import Welcome from "../components/Welcome.astro";
import Button from "../components/Button.astro";
import heroImage from "../assets/food-mood-mockup-img.png";
import IconsAnimation from "../components/IconsAnimation.astro";
---

<section class="w-full flex items-center mb-8 pt-28">
  <div class="w-1/3 hidden md:block">
    <Image
      width={320}
      height={654}
      src={heroImage}
      alt="Proyecto Food Mood. Mock up pantalla de inicio."
      loading="eager"
      class="mx-auto"
    />
  </div>
  <div class="w-full md:w-2/3 flex flex-col gap-4 p-4 md:p-6">
    <Welcome />
    <h1 class="text-red-light text-2xl md:text-3xl text-balance">
      ¡Hola! Soy <strong>Héctor Reyes,</strong> un <strong
        >Desarrollador Front-End</strong
      > con experiencia en <strong>UI design</strong> y diseño de <strong
        >productos digitales.</strong
      >
    </h1>
    <IconsAnimation />
    <p class="text-lg text-balance">
      Utilizo herramientas como Figma, SASS, Angular, React y más. Me apasiona
      la calidad, la creatividad y la accesibilidad. Estoy listo para aportar
      valor a proyectos excepcionales. <strong
        >¡Hagámoslo realidad juntos!</strong
      >
    </p>
    <div class="flex flex-col gap-8 mt-6 md:flex-row md:items-center">
      <Button
        type="text"
        name="Contáctame"
        href="https://wa.me/525575232654?text=Hola.%20Estoy%20interesado%20en%20trabajar%20contigo%20esta%20es%20mi%20idea:"
        target="_blank"
      >
        <Icon name="ic:baseline-whatsapp" class="text-white min-w-6" />
        <span class="btn-label">Agendar una reunión</span>
      </Button>
      <Button
        type="text"
        name="Ver servicios"
        style="main-border"
        href="/services"
      >
        <span> Ver Servicios </span>
      </Button>
    </div>
  </div>
</section>
