---
import Button from "../components/Button.astro";
---

<section class="w-full my-16 flex flex-col items-center gap-4">
  <h2 class="text-purple font-bold text-xl md:text-3xl text-center">
    Tu Sitio Web de Alto Rendimiento:
    <span class="block font-normal">Garantía de Excelencia en Performance</span>
  </h2>
  <p class="w-full md:w-2/3 text-center">
    Utilizando la última tecnología y un enfoque en el diseño único, creamos
    sitios web que destacan visualmente y brindan una experiencia de usuario
    excepcional.
  </p>
  <Button type="text" name="Ver promoción" style="purple" href="/landing">¡Lo quiero!</Button>
</section>
