---
import { Icon } from "astro-icon/components";
import SectionTitle from "@common/SectionTitle.astro";
import Button from "@common/Button.astro";

const socialMedia = [
  {
    icon: "simple-icons:whatsapp",
    href: "https://wa.me/525575232654?text=Hola.%20Estoy%20interesado%20en%20trabajar%20contigo%20esta%20es%20mi%20idea:",
    name: "WhatsApp",
  },
  {
    icon: "mdi:twitter",
    href: "https://twitter.com/hector_reyes_",
    name: "Twitter",
  },
  {
    icon: "mdi:linkedin",
    href: "https://www.linkedin.com/in/hectorreyesdev/",
    name: "LinkedIn",
  },
  {
    icon: "mdi:file-download",
    href: "https://drive.google.com/file/d/165iYcgf-vW7fIYgcLfBfI8OSzX0B--Ov/view?usp=sharing",
    name: "Descargar CV",
  },
];
---

<section id="contacto" class="w-full p-4 mb-20">
  <SectionTitle headline="Encuentrame aquí" subtitle="contacto" />
  <div class="w-full flex flex-wrap gap-8 items-center justify-center md:flex">
    {
      socialMedia.map(({ icon, href, name }) => (
        <Button type="icon" name={name} href={href} target="_blank">
          <Icon name={icon} class="text-white text-3xl" />
        </Button>
      ))
    }
  </div>
</section>
