---
import { Icon } from "astro-icon/components";
import LogoIcon from "../LogoIcon.astro";
import { FOOTER_SOCIAL_MEDIA } from "@constants/socialMedia";
---

<footer>
  <div class="footer-container">
    <LogoIcon color="white" width={140} />
    <div class="title-container">
      <span class="font-bold">Frontend Developer</span>
      <span class="font-light">+ UI & UX Designer</span>
    </div>
  </div>
  <div class="flex gap-4">
    {
      FOOTER_SOCIAL_MEDIA.map(({ icon, href, name }) => (
        <a href={href} target="_blank" aria-label={name}>
          <Icon name={icon} class="text-white text-2xl" />
        </a>
      ))
    }
  </div>
</footer>

<style>
  footer {
    @apply w-full xl:w-[1280px] mx-auto px-4 md:px-20 py-10 flex flex-col-reverse md:flex-row justify-between items-center rounded-none lg:rounded-t-xl  bg-black;
  }

  .footer-container {
    @apply mt-8 md:mt-0 flex flex-col md:flex-row items-center gap-4;
  }

  .title-container {
    @apply flex flex-col uppercase items-center md:items-start text-xl text-white;
  }
</style>
